.text-primary {
    color: var(--color-text);
}

.text-purple{
    color:var( --color-purple-600);
}

.text-green{
    color:var(--color-primary-600);
}

.text-blue{
    color:var(--color-info);
}

.text-white{
    color:var(--color-text);
}

.text-red {
    color: var(--color-danger)
}

.text-yellow {
    color: var(--color-warning)
}

.text-sci-fi{
  
}

.text-sci-fi-glow {
    background: linear-gradient(90deg, #b48cff, #ffffff, #5b4b8a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(180, 140, 255, 0.4), 0 0 16px rgba(180, 140, 255, 0.3);
    animation: glowMove 3s linear infinite;
}

@keyframes glowMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
