.text-primary {
    color: var(--color-text);
}

.text-purple{
    color:var( --color-purple-600);
}

.text-green{
    color:var(--color-primary-600);
}

.text-blue{
    color:var(--color-info);
}

.text-white{
    color:var(--color-text);
}

.text-red {
    color: var(--color-danger)
}

.text-yellow {
    color: var(--color-warning)
}

.text-glow-starfleet {
    color: #ff8c50;
}

.text-glow-sci-fi {
    color: #00ffff;
}

.text-glow-matrix {
    color: #00ff66;
}

.text-glow-cyberpunk {
    color: #c000c0;
}

.text-glow-plasma-core {
    color: #8a4700;
}

.text-glow-deep-space {
    color: #64b4ff;
}

.text-glow-alien-tech {
    color: rgba(0,255,220,.25);
}

.text-sci-fi-glow {
    background: linear-gradient(90deg, #b48cff, #ffffff, #5b4b8a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px rgba(180, 140, 255, 0.4), 0 0 16px rgba(180, 140, 255, 0.3);
    animation: glowMove 3s linear infinite;
}

@keyframes glowMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
