.text-hero {
    position: relative;
    overflow: hidden;
    max-height: 530px;
}

.hero-text {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-wrap:balance;
}

.hero-text h1 {
    font-size: clamp(2rem, 6vw, 4rem);
}

.hero-image-large {
    width: 100%;
    background: rgba(0, 0, 0, .9);
    overflow: hidden;
}

.hero-image-large .hero-img-container {
    width: 100%;
}

.hero-image-large .hero-img-container img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-position: bottom;
}

.hero-image-small {
    width: 100%;
    background: rgba(0, 0, 0, .9);
    overflow: hidden;
}

.hero-image-small .hero-img-container {
    display: block;
    width: 100%;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-small .hero-img-container img {
    display: inline;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-position: bottom;
}

@media (min-width: 992px) {

    .hero-image-small .hero-img-container img {
        width: 80%;
    }

    .hero-image-large {
        max-height: 600px;
    }

    .hero-image-large .hero-img-container img {
        max-height: 600px;
        object-fit: contain;
    }
}

@media (min-width:1200px) {
    .hero-image-small .hero-img-container img {
        max-width: 900px;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}
