.text-hero {
    position: relative;
    margin-top: 90px;
    overflow: hidden;
    max-height: 530px;
}

.hero-text {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-wrap:balance;
}

.hero-text h1 {
    font-size: clamp(2rem, 6vw, 4rem);
}

.slider-container {
    position: relative;
    min-height: 100px;
}

.carousel {
    position: absolute;
    left: -1px;
    top:0;
    width: 100%;
    display: flex;
    overflow:hidden;
}

.carousel-img {
    width: 100px;
    height: auto;
}

.carousel-group {
    width: fit-content;
    display: flex;
    gap: 70px;
    padding-right: 70px;
    will-change: transform;
    animation: scrolling 15s linear infinite;
}

.carousel::before,
.carousel::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 10;
}

.carousel::before {
    left: 0;
    background: linear-gradient(to right, #000, transparent);
}

.carousel::after {
    right: -2px;
    background: linear-gradient(to left, #000, transparent);
}

.image-hero {
    margin-top: 50px;
    width: 100%;
    background: rgba(0, 0, 0, .9);
    overflow: hidden;
}

.image-hero .hero-img-container {
    width: 100%;
}

.image-hero .hero-img-container img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-position: bottom;
}

@media (min-width: 992px) {
    .image-hero {
        max-height: 600px;
    }

    .image-hero .hero-img-container img {
        max-height: 600px;
        object-fit: contain;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}
