.slider-container {
    position: relative;
    min-height: 100px;
}

.carousel {
    position: absolute;
    left: -1px;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carousel-img {
    width: 100px;
    height: auto;
    margin:0;
    padding:0;
}

.carousel-group {
    width: fit-content;
    display: flex;
    gap: 70px;
    padding-right: 70px;
    will-change: transform;
    animation: scrolling 15s linear infinite;
}

.carousel::before,
.carousel::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: 5;
}

.carousel::before {
    left: -23px;
    background: linear-gradient(to right, #000, transparent);
}

.carousel::after {
    right: -2px;
    background: linear-gradient(to left, #000, transparent);
}
