.theme-selector-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.theme-selector-box p {
    margin: 0;
}

.theme-select,
.theme-select::picker(select) {
    appearance: base-select;
}

.theme-select {
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 150px;
    font-size: 14px;
    color: var(--theme-text);
    border: none;
    font-weight: var(--fw-bold);
    background: var(--color-surface);
    cursor: pointer;
}

.theme::picker(select) {
    background: var(--color-bg);
    max-height: 200px;
    overflow-y: auto;
    border: none;
}

.theme-select option {
    padding: 10px 5px 10px 5px;
    background: var(--color-bg);
    color: var(--color-text);
}

.theme-select option:hover {
    background: var(--color-surface);
}

.theme-select option:checked {
    background: var(--color-surface);
}

.theme-select option:checked::checkmark {
    content: '✔';
    margin-right: 0.5em;
    color: #2196f3;
}

select::-ms-expand {
    display: none;
}
