.desktop {
    background-color: var(--color-bg);
    display: none;
    border-top: none;
}

.desktop-nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-shadow {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -10px 32px 1px var(--wall-glow);
}

.nav-theme span {
    display: block;
    padding: 8px 15px;
}

.nav-theme span:hover {
    display: block;
    background-color: var(--color-surface);
    border-radius: 3px;
    cursor:pointer;
}

.nav-item:hover .nav-theme {
    display: block;
}

.nav-dropdown a {
    display: block;
    padding: 8px 15px;
}

.nav-dropdown a:hover {
    display: block;
    background-color: var(--color-surface);
    border-radius: 3px;
}

.nav-item:hover .nav-dropdown {
    display: block;
}

.nav-item:hover  {
    background-color: var(--color-surface);
    border-radius: 3px;
}