.desktop {
    background-color: var(--color-bg);
    display: none;
    border-top: none;
}

.desktop-nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-shadow {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -10px 32px 1px var(--wall-glow);
}

.nav-item {
    position: relative;
    padding: 8px 15px;
}

.nav-item-header .nav-item:has(a:active) {
    background-color: red;
}

.nav-item:hover i {
    transform: Rotate(180deg);
}

.nav-item-header i {
    transition: ease-in-out 0.2s;
}

.nav-item-header {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.nav-item-header a {
    font-weight: var(--fw-bold);
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 99999;
    width: 100%;
    height: 5px;
}

.nav-dropdown, .nav-theme {
    background-color: var(--color-bg);
    position: absolute;
    top: calc(100% + 2px);
    left: -10px;
    z-index: 99999;
    padding-inline: 10px;
    padding: 10px 5px 10px 5px;
    border: 1px solid var(--blue-color);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    min-width: 150px;
}

.nav-theme span {
    display: block;
    padding: 8px 15px;
}

.nav-theme span:hover {
    display: block;
    background-color: var(--color-surface);
    border-radius: 3px;
    cursor:pointer;
}

.nav-item:hover .nav-theme {
    display: block;
}

.nav-dropdown a {
    display: block;
    padding: 8px 15px;
}

.nav-dropdown a:hover {
    display: block;
    background-color: var(--color-surface);
    border-radius: 3px;
}

.nav-item:hover .nav-dropdown {
    display: block;
}

.nav-item:hover  {
    background-color: var(--color-surface);
    border-radius: 3px;
}