@import "./desktop-nav.css";
@import "./mobile-nav.css";

.nav-bars {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    border-bottom: 1px solid var(--wall-glow);
}

.dropdown-link {
    text-decoration: none;
    font-size: var(--text-m);
    font-weight: var(--fw-bold);
    display: block;
}

@media (min-width:992px) {
    .desktop {
        height: 50px;
        display: flex;
    }

    .mobile {
        display: none;
    }
}